<template>
  <input
    @input="onFilter($event.target.value)"
    type="text"
    class="filter"
    placeholder="Filter posts..."
  />
</template>

<script>
export default {
  name: "TheInput",
  props: {
    onFilter: {
      type: Function,
      required: true
    }
  }
};
</script>
