<template>
  <div class="loader" :class="{ show }">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</template>

<script>
export default {
  name: "TheLoader",
  props: {
    show: {
      type: Boolean,
      required: true
    }
  }
};
</script>
