<template>
  <article class="post">
    <div class="number">{{ post.id }}</div>
    <div class="post-info">
      <h2 class="post-title">{{ post.title }}</h2>
      <p class="post-body">{{ post.body }}</p>
    </div>
  </article>
</template>

<script>
export default {
  name: "ThePost",
  props: {
    post: {
      type: Object,
      required: true
    }
  }
};
</script>
