<template>
  <div>
    <h3>Add new transaction</h3>
    <form autocomplete="off" spellcheck>
      <div class="form-control">
        <label for="text">Text</label>
        <input v-model.trim="text" type="text" id="text" placeholder="Enter text..." />
      </div>
      <div class="form-control">
        <label for="amount">
          Amount
          <br />(negative - expense, positive - income)
        </label>
        <input v-model.number="amount" type="number" placeholder="Enter amount..." />
      </div>
      <button class="btn" @click.prevent="handleAddTransaction">Add transaction</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "AddTransaction",
  props: {
    onAddTransaction: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      id: null,
      amount: 0,
      text: ""
    };
  },
  methods: {
    handleAddTransaction() {
      const transaction = {
        id: this.generateID(),
        amount: this.amount,
        text: this.text
      };
      this.$props.onAddTransaction(transaction);
      this.id = null;
      this.amount = 0;
      this.text = "";
    },
    generateID() {
      return Math.floor(Math.random() * 100000000);
    }
  }
};
</script>
