<template>
  <div>
    <h4>Your Balance</h4>
    <h1>${{ total }}</h1>
  </div>
</template>

<script>
export default {
  name: "Balance",
  props: {
    total: {
      type: String,
      required: true
    }
  }
};
</script>

