<template>
  <div class="inc-exp-container">
    <div>
      <h4>Income</h4>
      <p class="money plus">${{ incomes }}</p>
    </div>
    <div>
      <h4>Expense</h4>
      <p class="money minus">${{ expenses }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "IncomeExpenses",
  props: {
    incomes: {
      type: [String, Number],
      required: true
    },
    expenses: {
      type: String,
      required: true
    }
  }
};
</script>
