<template>
  <div>
    <h3>History</h3>
    <ul class="list" v-if="transactions.length > 0">
      <li class="minus" :key="transaction.id" v-for="transaction in transactions">
        {{ transaction.text }}
        <span v-if="transaction.amount > 0">+{{ transaction.amount }}</span>
        <span v-else>{{ transaction.amount }}</span>
        <button class="delete-btn" @click="onRemoveTransaction(transaction.id)">x</button>
      </li>
    </ul>
    <span v-else>There is no transactions.</span>
  </div>
</template>

<script>
export default {
  name: "TransactionList",
  props: {
    transactions: {
      type: Array,
      required: true
    },
    onRemoveTransaction: {
      type: Function,
      required: true
    }
  }
};
</script>
