<template>
  <section>
    <TheHeader />
    <div class="filter-container">
      <TheInput :onFilter="onFilter" />
    </div>
    <ThePost v-for="post in filteredPosts" :post="post" :key="post.id" />
    <TheLoader :show="loading" />
  </section>
</template>

<script>
import TheHeader from "@/components/TheHeader";
import TheInput from "@/components/TheInput";
import TheLoader from "@/components/TheLoader";
import ThePost from "@/components/ThePost";

import { getPosts } from "@/api";

export default {
  name: "App",
  components: {
    TheHeader,
    TheInput,
    TheLoader,
    ThePost
  },
  created() {
    getPosts(this.limit, this.page)
      .then(data => (this.posts = data))
      .catch(console.log);

    window.addEventListener("scroll", this.fetchMorePosts);
  },
  destroyed() {
    window.removeEventListener("scroll", this.fetchMorePosts);
  },
  data() {
    return {
      posts: [],
      limit: 5,
      page: 1,
      loading: false,
      query: ""
    };
  },
  methods: {
    fetchMorePosts() {
      const {
        scrollTop,
        scrollHeight,
        clientHeight
      } = document.documentElement;

      if (!(scrollTop + clientHeight >= scrollHeight - 5)) {
        return;
      }

      this.loading = true;

      setTimeout(() => {
        this.loading = false;

        setTimeout(() => {
          getPosts(this.limit, ++this.page)
            .then(data => this.posts.push(...data))
            .catch(console.log);
        }, 300);
      }, 1000);
    },
    onFilter(query = "") {
      this.query = query.toLowerCase();
    }
  },
  computed: {
    filteredPosts() {
      return this.posts.filter(post => {
        const { query } = this;
        const { title, body } = post;
        const isThereAMatch = title.includes(query) || body.includes(query);

        return isThereAMatch ? post : undefined;
      });
    }
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #296ca8;
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 100px;
}

h1 {
  margin-bottom: 0;
  text-align: center;
}

.filter-container {
  margin-top: 20px;
  width: 80vw;
  max-width: 800px;
}

.filter {
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

.post {
  position: relative;
  background-color: #4992d3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 20px;
  margin: 40px 0;
  display: flex;
  width: 80vw;
  max-width: 800px;
}

.post .post-title {
  margin: 0;
}

.post .post-body {
  margin: 15px 0 0;
  line-height: 1.3;
}

.post .post-info {
  margin-left: 20px;
}

.post .number {
  position: absolute;
  top: -15px;
  left: -15px;
  font-size: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  color: #296ca8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
}

.loader {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in;
}

.loader.show {
  opacity: 1;
}

.circle {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}
</style>
