<template>
  <main>
    <TheHeader />
    <div class="music-container" :class="{ play: playing }">
      <audio ref="song" :src="currentSong">Your browser does not support the audio element.</audio>
      <div class="img-container">
        <TheCover :currentCover="currentCover" />
      </div>
      <MusicInfo :progressPercent="progressPercent" :currentSongName="currentSongName" />
      <PlayerControls
        :playing="playing"
        :onNextSong="onNextSong"
        :onPrevSong="onPrevSong"
        :onClickButton="onClickButton"
      />
    </div>
  </main>
</template>

<script>
import TheCover from "@/components/TheCover";
import TheHeader from "@/components/TheHeader";
import MusicInfo from "@/components/MusicInfo";
import PlayerControls from "@/components/PlayerControls";

export default {
  name: "App",
  data() {
    return {
      index: 0,
      playing: false,
      progressPercent: 0,
      covers: ["/static/ukulele.jpg", "/static/hey.jpg", "/static/summer.jpg"],
      songs: ["/static/ukulele.mp3", "/static/hey.mp3", "/static/summer.mp3"],
      songNames: ["Ukulele", "Hey", "Summer"]
    };
  },
  computed: {
    currentSong() {
      return this.songs[this.index];
    },
    currentCover() {
      return this.covers[this.index];
    },
    currentSongName() {
      return this.songNames[this.index];
    }
  },
  methods: {
    onClickButton(action) {
      if (action === "play") {
        this.playing = true;
        this.$refs.song.play();
      } else {
        this.playing = false;
        this.$refs.song.pause();
      }
      this.$refs.song.addEventListener("timeupdate", this.onTimeUpdate);
    },
    onTimeUpdate(e) {
      const { duration, currentTime } = e.srcElement;
      this.progressPercent = (currentTime / duration) * 100;
    },
    onNextSong() {
      this.progressPercent = 0;
      const isLastSong = this.index >= this.songs.length - 1;
      if (isLastSong) {
        this.index = 0;
      } else {
        this.index++;
      }
      this.$refs.song.addEventListener("canplay", this.playSong);
    },
    onPrevSong() {
      this.progressPercent = 0;
      const isFirstSong = this.index === 0;
      if (isFirstSong) {
        this.index = this.songs.length - 1;
      } else {
        this.index--;
      }
      this.$refs.song.addEventListener("canplay", this.playSong);
    },
    playSong() {
      this.playing = true;
      this.$refs.song.play();
    }
  },
  components: {
    TheCover,
    TheHeader,
    MusicInfo,
    PlayerControls
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.music-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: "";
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: -1;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
</style>
