<template>
  <section>
    <div class="year">{{ currentYear + 1 }}</div>
    <h1>New Year Countdown</h1>
    <div class="countdown" :class="{show: !loading}">
      <div class="time">
        <h2>{{ days }}</h2>
        <small>days</small>
      </div>
      <div class="time">
        <h2>{{ hours }}</h2>
        <small>hours</small>
      </div>
      <div class="time">
        <h2>{{ minutes }}</h2>
        <small>minutes</small>
      </div>
      <div class="time">
        <h2>{{ seconds }}</h2>
        <small>seconds</small>
      </div>
    </div>

    <img src="./assets/spinner.gif" alt="Loading..." v-if="loading" class="loading" />
  </section>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      days: null,
      hours: null,
      minutes: null,
      seconds: null,
      loading: true,
      currentYear: new Date().getFullYear()
    };
  },
  mounted() {
    setTimeout(() => {
      this.loading = false;
    }, 1000);

    setInterval(() => {
      this.updateCountdown();
    }, 1000);
  },
  methods: {
    updateCountdown() {
      const currentTime = new Date();
      const newYearTime = new Date(
        `January 01 ${this.currentYear + 1} 00:00:00`
      );
      const diff = newYearTime - currentTime;

      const d = Math.floor(diff / 1000 / 60 / 60 / 24);
      const h = Math.floor(diff / 1000 / 60 / 60) % 24;
      const m = Math.floor(diff / 1000 / 60) % 60;
      const s = Math.floor(diff / 1000) % 60;

      this.days = d;
      this.hours = h < 10 ? "0" + h : h;
      this.minutes = m < 10 ? "0" + m : m;
      this.seconds = s < 10 ? "0" + s : s;
    }
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("https://images.unsplash.com/photo-1467810563316-b5476525c0f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

/* Add a dark overlay */
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

body * {
  z-index: 1;
}

h1 {
  font-size: 60px;
  margin: -80px 0 40px;
}

.year {
  font-size: 200px;
  z-index: -1;
  opacity: 0.2;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.countdown {
  display: none;
  transform: scale(2);
}

.countdown.show {
  display: flex;
  justify-content: center;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.time h2 {
  margin: 0 0 5px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 45px;
  }

  .time {
    margin: 5px;
  }

  .time h2 {
    font-size: 12px;
    margin: 0;
  }

  .time small {
    font-size: 10px;
  }
}
</style>
