<template>
  <p class="text">
    You have selected
    <span id="count">{{ totalSelectedSeats }}</span> seats for a price of $
    <span id="total">{{ totalPrice }}</span>
  </p>
</template>

<script>
export default {
  name: "Footer",
  props: {
    totalPrice: {
      type: Number,
      required: true
    },
    totalSelectedSeats: {
      type: Number,
      required: true
    }
  }
};
</script>
