<template>
  <div class="movie-container">
    <label>Pick a movie:</label>
    <select @input="handleInput">
      <option :selected="isSelected(10)" value="10"
        >Avengers: Endgame ($10)</option
      >
      <option :selected="isSelected(12)" value="12">Joker ($12)</option>
      <option :selected="isSelected(8)" value="8">Toy Story 4 ($8)</option>
      <option :selected="isSelected(9)" value="9">The Lion King ($9)</option>
    </select>
  </div>
</template>

<script>
export default {
  name: "Header",
  props: {
    onSelectMovie: {
      type: Function
    },
    currentMoviePrice: {
      type: Number,
      default: 10
    }
  },
  methods: {
    isSelected(price) {
      return this.currentMoviePrice === price;
    },
    handleInput(e) {
      this.onSelectMovie(+e.target.value);
    }
  }
};
</script>
