<template>
  <div class="seat" :class="{ occupied, selected }" @click="handleClick" />
</template>

<script>
export default {
  name: "Seat",
  props: {
    occupied: {
      type: Boolean
    },
    onSelectSeat: {
      type: Function
    },
    onDeselectSeat: {
      type: Function
    }
  },
  data() {
    return {
      selected: false
    };
  },
  methods: {
    handleClick() {
      this.selected = !this.selected;
      if (this.selected) {
        this.onSelectSeat();
        return;
      }
      this.onDeselectSeat();
    }
  }
};
</script>
