<template>
  <div class="music-info">
    <h4>{{ currentSongName }}</h4>
    <div class="progress-container">
      <div class="progress" :style="{ width: ` ${progressPercent}%` }"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MusicInfo",
  props: {
    currentSongName: {
      type: String,
      required: true
    },
    progressPercent: {
      type: Number,
      required: true
    }
  }
};
</script>
