<template>
  <div class="navigation">
    <button class="action-btn" @click="handlePrevSong">
      <i class="fas fa-backward"></i>
    </button>
    <button @click="handleClick" class="action-btn action-btn-big">
      <i class="fas" :class="!playing ? 'fa-play' : 'fa-pause'"></i>
    </button>
    <button class="action-btn" @click="handleNextSong">
      <i class="fas fa-forward"></i>
    </button>
  </div>
</template>

<script>
export default {
  name: "PlayerControls",
  props: {
    onClickButton: {
      type: Function,
      required: true
    },
    onNextSong: {
      type: Function,
      required: true
    },
    onPrevSong: {
      type: Function,
      required: true
    },
    playing: {
      type: Boolean,
      required: true
    }
  },
  methods: {
    handleClick() {
      if (!this.playing) {
        this.onClickButton("play");
      } else {
        this.onClickButton("pause");
      }
    },
    handlePrevSong() {
      this.onPrevSong();
    },
    handleNextSong() {
      this.onNextSong();
    }
  }
};
</script>
