<template>
  <img :src="currentCover" alt="music-cover" />
</template>

<script>
export default {
  name: "TheCover",
  props: {
    currentCover: {
      type: String,
      required: true
    }
  }
};
</script>
