<template>
  <section>
    <h1>DOM Array Methods</h1>

    <div class="container">
      <aside>
        <button @click="getRandomUser">Add User 👱‍♂️</button>
        <button @click="double">Double Money 💰</button>
        <button @click="showMillionaires">Show Only Millionaires 💵</button>
        <button @click="sort">
          Sort by Richest
          <span v-if="isDesc">↓</span>
          <span v-else>↑</span>
        </button>
        <button @click="calculateWealth">Calculate entire Wealth 🧮</button>
      </aside>

      <main ref="main">
        <h2>
          <strong>Person</strong> Wealth
        </h2>
        <div class="person" v-for="person in sortedUsers" :key="person.money">
          <strong>{{ person.name }}</strong>
          {{ formatMoney(person.money) }}
        </div>

        <div v-if="showWealth">
          <h3>
            Total Wealth:
            <strong>{{ wealth }}</strong>
          </h3>
        </div>
      </main>
    </div>
  </section>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      data: [],
      isDesc: true,
      showWealth: false
    };
  },
  created() {
    this.getRandomUser();
    this.getRandomUser();
    this.getRandomUser();
  },
  computed: {
    sortedUsers() {
      let result = [...this.data];
      if (this.isDesc) {
        return result.sort((a, b) => b.money - a.money);
      }
      return result.sort((a, b) => b.money + a.money);
    },
    wealth() {
      return this.formatMoney(
        this.data.reduce((acc, user) => (acc += user.money), 0)
      );
    }
  },
  methods: {
    async getRandomUser() {
      const res = await fetch("https://randomuser.me/api");
      const data = await res.json();

      const user = data.results[0];

      const newUser = {
        name: `${user.name.first} ${user.name.last}`,
        money: Math.floor(Math.random() * 1000000)
      };

      this.data.push(newUser);
    },
    double() {
      this.data = this.data.map(user => {
        return { ...user, money: user.money * 2 };
      });
    },
    showMillionaires() {
      const millionairs = this.data.filter(user => user.money > 1000000);
      this.data = millionairs.length > 0 ? millionairs : this.data;
    },
    sort() {
      if (this.isDesc) {
        this.isDesc = false;
        this.data = this.data.sort((a, b) => b.money - a.money);
        return;
      }
      this.isDesc = true;
      this.data = this.data.sort((a, b) => b.money + a.money);
    },
    calculateWealth() {
      this.showWealth = !this.showWealth;
    },
    formatMoney(number) {
      return "$" + number.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
    }
  }
};
</script>

<style>
* {
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

aside {
  padding: 10px 20px;
  width: 250px;
  border-right: 1px solid #111;
}

button {
  cursor: pointer;
  background-color: #fff;
  border: solid 1px #111;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
}

main {
  flex: 1;
  padding: 10px 20px;
}

h2 {
  border-bottom: 1px solid #111;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 0 0 20px;
}

h3 {
  background-color: #fff;
  border-bottom: 1px solid #111;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 20px 0 0;
}

.person {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}
</style>
