<template>
  <div>
    <Header />
    <div class="container">
      <Balance v-bind:total="total" />
      <IncomeExpenses v-bind:expenses="expenses" v-bind:incomes="incomes" />
      <TransactionList
        v-bind:transactions="transactions"
        v-bind:onRemoveTransaction="onRemoveTransaction"
      />
      <AddTransaction v-bind:onAddTransaction="onAddTransaction" />
    </div>
  </div>
</template>

<script>
import Header from "./components/Header";
import Balance from "./components/Balance";
import IncomeExpenses from "./components/IncomeExpenses";
import TransactionList from "./components/TransactionList";
import AddTransaction from "./components/AddTransaction";

export default {
  name: "App",
  components: {
    Header,
    Balance,
    IncomeExpenses,
    TransactionList,
    AddTransaction
  },
  data() {
    return {
      transactions: []
    };
  },
  created() {
    this.transactions = JSON.parse(localStorage.getItem("transactions")) || [];
  },
  methods: {
    onAddTransaction(transaction) {
      this.transactions.push(transaction);
      this.updateLocalStorage();
    },
    onRemoveTransaction(id) {
      this.transactions = this.transactions.filter(
        transaction => transaction.id !== id
      );
      this.updateLocalStorage();
    },
    updateLocalStorage() {
      localStorage.setItem("transactions", JSON.stringify(this.transactions));
    }
  },
  computed: {
    total() {
      return this.transactions
        .map(transaction => transaction.amount)
        .reduce((acc, item) => (acc += item), 0)
        .toFixed(2);
    },
    incomes() {
      return this.transactions
        .map(transaction => transaction.amount)
        .filter(item => item > 0)
        .reduce((acc, item) => (acc += item), 0)
        .toFixed(2);
    },
    expenses() {
      return this.transactions
        .map(transaction => transaction.amount)
        .filter(item => item < 0)
        .reduce((acc, item) => (acc += item), 0 * -1)
        .toFixed(2);
    }
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  text-align: center;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
</style>
