<template>
  <section>
    <div v-if="playing">
      <img src="./assets/mic.png" alt="Speak" />

      <h1>Guess a Number Between 1 - 100</h1>

      <h3>Speak the number into your microphone</h3>

      <div class="msg" v-html="message"></div>
    </div>

    <div v-else>
      <h2>
        Congrats! You have guessed the number!
        <br />
        <br />
        It was {{ randomNum }}
      </h2>
      <button class="play-again" @click="playAgain">Play Again</button>
      <p class="mt-1">Or say "play again"</p>
    </div>
  </section>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      recognition: null,
      message: "",
      playing: true,
      randomNum: this.getRandomNumber()
    };
  },
  created() {
    if (!this.isSpeechRecognitionSupported()) {
      alert(
        "Sorry SpeedRecognition API is not supported in this browser, try with Chrome."
      );
    } else {
      this.recognition = new window.SpeechRecognition();
      this.recognition.start();

      // Speak result
      this.recognition.addEventListener("result", this.onSpeak);

      // End SR service
      this.recognition.addEventListener("end", () => this.recognition.start());
    }
  },
  methods: {
    getRandomNumber() {
      return Math.floor(Math.random() * 100) + 1;
    },
    isSpeechRecognitionSupported() {
      window.SpeechRecognition =
        window.SpeechRecognition || window.webkitSpeechRecognition;

      return window.SpeechRecognition !== undefined;
    },
    onSpeak(e) {
      const msg = e.results[0][0].transcript;
      this.writeMessage(msg);
      this.checkNumber(msg);
    },
    writeMessage(msg) {
      this.message = `<div>You said: </div><span class="box">${msg}</span>`;
    },
    checkNumber(msg) {
      const num = +msg;

      if (msg === "play again") {
        this.playAgain();
      }

      // Check if valid number
      if (Number.isNaN(num)) {
        this.message = "<div>That is not a valid number</div>";
        return;
      }

      // Check in range
      if (num > 100 || num < 1) {
        this.message = "<div>Number must be between 1 and 100</div>";
        return;
      }

      // Check number
      if (num === this.randomNum) {
        this.playing = false;
      } else if (num > this.randomNum) {
        this.message = "<div>GO LOWER</div>";
      } else {
        this.message = "<div>GO HIGHER</div>";
      }
    },
    playAgain() {
      window.location.reload();
    }
  }
};
</script>

<style>
* {
  box-sizing: border-box;
}

body {
  background: #2f3542 url("assets/bg.jpg") no-repeat left center/cover;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h3 {
  margin-bottom: 0;
}

p {
  line-height: 1.5;
  margin: 0;
}

.play-again {
  padding: 8px 15px;
  border: 0;
  background: #f4f4f4;
  border-radius: 5px;
  margin-top: 10px;
}

.msg {
  font-size: 1.5em;
  margin-top: 40px;
}

.box {
  border: 1px solid #dedede;
  display: inline-block;
  font-size: 30px;
  margin: 20px;
  padding: 10px;
}

.mt-1 {
  margin-top: 1rem;
}
</style>
